<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="feedbackMapper">

    <select id="searchAllFeedback" resultType="Feedback">
		select * from feedback
	</select>

    <select id="searchFeedbackByMembersId" parameterType="String" resultType="Feedback">
		select * from feedback
		where members_id = #{value}
	</select>

    <select id="searchFeedbackByFeedbackId" parameterType="String" resultType="Feedback">
		select * from feedback
		where feedback_id = #{value}
	</select>

    <insert id="insertFeedback" parameterType="Feedback">
		insert into feedback (title,contents,members_id,date) value (#{title},#{contents},#{membersId},current_time());
	</insert>

    <update id="updateFeedback" parameterType="Feedback">
		update feedback set answer = #{answer}
		where feedback_id=#{feedbackId}
	</update>

    <delete id="deleteFeedback" parameterType="String">
		delete from feedback where feedback_id = #{value}
	</delete>


</mapper>